.container .question {
  margin-right: 52px;
  flex: 5;
}

.container .question .question__input {
  width: 445px;
  height: 56px;
  margin-bottom: 48px;
}

.container .question .question__input input {
  width: 100%;
  border: 2px solid #cecece;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 400;
}

.container .question .question__criteria .question__criteria--list ul {
  list-style-type: none;
  padding: 0;
}

.container .question .question__criteria .question__criteria--list li {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.container .answer {
  flex: 5;
}

.container .answer .answer__input {
  height: calc(100% - 120px);
  position: relative;
}

.container .answer .answer__input .answer__input--field {
  width: calc(100% - 52px);
  height: 100%;
  border: 2px solid #cecece;
  padding: 16px 24px;
  font-size: 17px;
  resize: none;
}

.button-submit {
  position: absolute;
  right: 10px;
  bottom: -28px;
  border-radius: 4px;
  border: none;
  color: #969696;
  background: transparent;
  border: 2px solid #f3f3f3;
  padding: 10px 28px;
  cursor: not-allowed;
  opacity: 0.7;
  transition: 0.25s;
}

.button-valid {
  color: white;
  background: #545ade;
  border: none;
  cursor: pointer;
}

.button-submit:hover {
  opacity: 1;
}
