.container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
}

/* slider */
.rc-slider-handle {
  border: none;
}

.rc-slider-handle:focus {
  outline: none;
}
.rc-slider-handle-click-focused:focus {
  border: none;
  box-shadow: unset;
}
.rc-slider-handle:hover {
  border: none;
}
.rc-slider-handle:active {
  border: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border: none;
  box-shadow: none;
}
